@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chakra+Petch:wght@300&family=Dancing+Script&family=Lora:ital,wght@0,400;0,500;1,400;1,700&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,300;1,200;1,300&display=swap');
.assosiy {
    height: 50px;
   background: #E4CDC2;

}
.container-lg{
    justify-content: space-between;
}

.cont-1 {
  position: relative;
  width: 100%;
  height: 100vh;
}
.cont-1 iframe {
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: -1;
}
.cont-1 .cont-2 {
  top: 20px;
  left: 759px;
  position: absolute;
  z-index: 10;
  color: #4c3b2f;
  font-family: "Poppins", sans-serif;
  height: 522px;
  width: 400px;
  background: white;
  border-radius: 5px;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.35);
}
.cont-1 .btn {
  background: #4c3b2f;
  color: white;
  width: 376px;
}
.cont-2{
    margin-left: -9.5px;
}
.cont-3 {
  position: relative;
}
.cont-3 h1 {
  color: #4c3b2f;
}
.cont-3 .btn_1 {
  width: 100%;
  text-align: left;
}
.cont-3 .sx {
  border-bottom: 1px solid #4c3b2f;
  padding: 5px 0;
  background: white;
}
.cont-3 .sx :active {
  border: none;
}
.cont-3 .daun {
  padding-left: 90%;
}
.cont-3 a {
  padding-top: 5px;
  color: #4c3b2f;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}
.cont-3 .phone_1 {
  position: absolute;
  left: 1100px;
  top: -17px;
  background: #745A4A;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 60px;
  width: 60px;
  border-radius: 150px;
  animation: play 1.5s ease infinite;
}
.cont-3 .phone_1 img {
  padding-left: 16px;
  padding-top: 14px;
  height: 45px;
  width: 45px;
}
.cont-3 .phone_1 :after {
  background: rgba(116, 90, 74, 0.6) no-repeat url("phone_1.png");
  background-size: 100%;
  content: "";
  width: 100px;
  height: 100px;
  margin: 47px 49px;
  position: absolute;
  z-index: 9999 !important;
}
.cont-3 .phone_1 :hover {
  animation: none;
  transform: scale(1.5);
  transition: 0.5s;
}

.accordion-button:not(.collapsed) {
  color: var(--corp-jigar);
  background-color: var(--corp-jigar);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.copy {
  background: #E4CDC2;
}

.accordion-flush span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  color: #745A4A;
}

@-webkit-keyframes play {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  25% {
    -webkit-box-shadow: 0 0 0 20px rgba(116, 90, 74, 0.6), 0 0 0 40px rgba(255, 255, 255, 0.2);
  }
  30% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  50% {
    -webkit-box-shadow: 0 0 0 20px rgba(116, 90, 74, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0.2);
  }
}




.top1 i, p{
    color: #745A4A;
   margin-top: 10px;
}
.top1 i{
    padding-top: 3px;
    padding-right: 5px;
}

.nav-item{
    padding-top: 5px;
}
.nav-item i{
      padding-top: 3px;
    padding-right: 5px;
}
.navbar{
    height: 70px;
    background-color: white;
}
.old{
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 45px;
color: #333333;
margin-right: 10px;
}
li{
    margin-left: 30px;
}
.tele a{
font-family: 'Poppins';
text-decoration: none;
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #745A4A;

}
.tele i{
    padding-top: 13px;
    padding-right: 8px;
    color: #745A4A; 
}
.nav-item a{
    color: #745A4A; 
}
.main{ margin-top: 70px;
    height: 620px;
    background: rgba(217, 187, 171, 1);

}
.main2 h1{
    margin-top: px;
margin-left: 50px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 58px;
line-height: 87px;
color: #745A4A;
}
.main2 h2{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 75px;
text-align: center;
color: #745A4A;
}
.main2 span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 37px;
line-height: 56px;
text-align: center;
color: #F26712;
border-right: 2px solid #FF8D3D;
transform: rotate(90deg);
}
.main3 img  {
 width: 650px;
height: 400px;
}
.main0{
   justify-content: space-between;
}
.round1{
    
width: 52px;
height: 52px;
margin-top: 50px;
border-radius: 50%;
background: linear-gradient(180deg, #D4B29F 0%, #AF917E 100%);
}
.round2{
 margin-left:250px ;
width: 52px;
height: 52px;
margin-top: 80px;
border-radius: 50%;
background: linear-gradient(18.deg, #D4B29F 0%, #AF917E 100%);
}

.box{
    justify-items: center;
        text-align: center;
            
            width: 740px;
            height: 450px;
            
            margin-top: 40px;
            border: 5px solid #745A4A 
            }
            .inner{
                justify-content: center;
                }
                .box p{
                    margin-top: 40px;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 42px;
                        line-height: 63px;
                        color: #745A4A;
                        }
                        .box h1{
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 54px;
                            line-height: 81px;
                            color: #745A4A;
                            }
                            .boxs h1{
                                margin-top: 20px;
                                 font-family: 'Poppins';
                                 font-style: normal;
                                 font-weight: 600;
                                 font-size: 42px;
                                 line-height: 63px;
                                 color: #745A4A;
                                 }
                                 .shar{
                                  margin-top: 20px;
                                  width: 34px;
                                  height: 34px;
                                  border-radius: 50%;
                                  background: linear-gradient(180deg, #D4B29F 0%, #AF917E 100%);
                                  }
                                  .fourboxs{
                                      margin-top: 30px;
                                      }
                                      .row{
                                      background: #ECF2F1;
                                      
                                      }
                                      
                                      .col h3{
                                          padding-top: 5px;
                                          font-family: 'Poppins';
                                          font-style: normal;
                                          font-weight: 600;
                                          font-size: 22px;
                                          line-height: 33px;
                                          color: #745A4A;
                                          }
                                          .col p{
                                          padding: 12px;    
                                          font-family: 'Poppins';
                                          font-style: normal;
                                          font-weight: 500;
                                          font-size: 14px;
                                          line-height: 21px;
                                          text-align: center;
                                          color: #745A4A;
                                          
                                          }
                                          .bor{
                                              border-right: 3px solid #745A4A;
                                              }
                                              .icon{
                                              justify-content: center;
                                              }
                                              .col i{
                                                  color: #745A4A;
                                                      margin-left: 8px;
                                                          margin-top:13px;
                                                          }
                                                          .round{
                                                              margin-left: 35px;
                                                                  width: 76px;
                                                                  height: 76px;
                                                                  left: 82px;
                                                                  margin-top: 50px;
                                                                  border-radius: 50%;
                                                                  background: linear-gradient(180deg, #D4B29F 0%, #AF917E 100%);
                                                                  }
                                                                  .rold{
                                                                      justify-content: space-between;
                                                                      }
                                                                      .rounds{
                                                                      width: 50px;
                                                                      height: 50px;
                                                                      margin-right: 100px;
                                                                      margin-top: 50px;
                                                                      border-radius: 50%;
                                                                      background: linear-gradient(180deg, #D4B29F 0%, #AF917E 100%);
                                                                      }
                                                                      .backg{
                                                                       position: relative;
                                                                         z-index: 1;   
                                                                         width: 622px;
                                                                         height: 411px;
                                                                         background: #ECF2F1;
                                                                         }
                                                      .dubleimg img{
                                                                              position: absolute;
                                                                                z-index: 2;
                                                                                }
                                                                                .duble h1{
                                                                                font-family: 'Poppins';
                                                                                font-style: normal;
                                                                                font-weight: 600;
                                                                                font-size: 42px;
                                                                                line-height: 63px;
                                                                                color: #745A4A;
                                                                                }
                                                                                .duble p{
                                                                                font-family: 'Poppins';
                                                                                font-style: normal;
                                                                                font-weight: 400;
                                                                                font-size: 16px;
                                                                                line-height: 130%;
                                                                                color: #745A4A;
                                                                                }
                                                                                
                                                                                .tosh{
                                                                                visibility: hidden;
                                                                                }
                                                                                .iconss{
                                                                                    visibility: hidden;
                                                                                    }
                                                                                    .main7 img{
                                                                                       display: none;
                                                                                       }
                                                                                       
                                                                                       .korinma{
                                                                                         visibility: hidden;
                                                                                         }
                                                                                         .top1 h6{
                                                                                             display: none;
                                                                                             }
                                                                                             .rasmlidiv h1{
                                                                                                 
                                                                                                 font-family: 'Poppins';
                                                                                                 font-style: normal;
                                                                                                 font-weight: 700;
                                                                                                 font-size: 42px;
                                                                                                 line-height: 63px;
                                                                                                 color: #745A4A;
                                                                                                 }
                                                                                                 .boxthreediv{
                                                                                                     background-image: url(jpg/Modern-Kitchen-Furniture-Design-Kitchen-Cabinets\ 1\ \(1\).png);
                                                                                                         height: 450px;
                                                                                                             margin-bottom: 40px;
                                                                                                             }
                                                                                                             .writer h1{
                                                                                                             
                                                                                                             font-family: 'Poppins';
                                                                                                             font-style: normal;
                                                                                                             font-weight: 700;
                                                                                                             font-size: 24px;
                                                                                                             line-height: 36px;
                                                                                                               
                                                                                                               color: #FFFFFF;
                                                                                                               }
                                                                                                               .writer p{
                                                                                                                  
                                                                                                                  height: 46px;
                                                                                                                      font-family: 'Poppins';
                                                                                                                      font-style: normal;
                                                                                                                      font-weight: 400px;
                                                                                                                      font-size: 15px;
                                                                                                                      line-height: 22px;
                                                                                                                      color: #FFFFFF;
                                                                                                                      }
                                                                                                                      
                                                                                                                      .writer{
                                                                                                                      
                                                                                                                          border-left: 3px solid #ECF2F1;
                                                                                                                              height: 90px;
                                                                                                                                  padding: -15px;
                                                                                                                                      padding-left: 20px;
                                                                                                                                          }
                                                                                                                                          
                                                                                                                                          .kichik{
                                                                                                                                              padding-left: 100px;
                                                                                                                                                   padding-top: 170px;
                                                                                                                                                   }
                                                                                                                                                   
                                                                                                                                                   .boxthreediv1{
                                                                                                                                                     background-image: url(jpg/photo_2021-12-25_08-58-00\ 1.png);
                                                                                                                                                         height: 450px;
                                                                                                                                                         }
                                                                                                                                                         .writer1 h1{
                                                                                                                                                         
                                                                                                                                                         font-family: 'Poppins';
                                                                                                                                                         font-style: normal;
                                                                                                                                                         font-weight: 700;
                                                                                                                                                         font-size: 24px;
                                                                                                                                                         line-height: 36px;
                                                                                                                                                           
                                                                                                                                                           color: #FFFFFF;
                                                                                                                                                           }
                                                                                                                                                           .writer1 p{
                                                                                                                                                              
                                                                                                                                                              height: 46px;
                                                                                                                                                                  font-family: 'Poppins';
                                                                                                                                                                  font-style: normal;
                                                                                                                                                                  font-weight: 400px;
                                                                                                                                                                  font-size: 15px;
                                                                                                                                                                  line-height: 22px;
                                                                                                                                                                  color: #FFFFFF;
                                                                                                                                                                  }
                                                                                                                                                                  
                                                                                                                                                                  .writer1{
                                                                                                                                                                  
                                                                                                                                                                      border-left: 3px solid #ECF2F1;
                                                                                                                                                                          height: 90px;
                                                                                                                                                                              padding: -15px;
                                                                                                                                                                                  padding-left: 20px;
                                                                                                                                                                                      }
                                                                                                                                                                                      
                                                                                                                                                                                      .kichik1{
                                                                                                                                                                                          padding-left: 100px;
                                                                                                                                                                                               padding-top: 170px;
                                                                                                                                                                                               }
                                                                                                                                                                                               
                                                                                                                                                                                               
                                                                                                                                                                                               
                                                                                                                                                                                               .grid-container {
                                                                                                                                                                                                 display: grid;
                                                                                                                                                                                                   grid-template-columns:   auto  auto ;
                                                                                                                                                                                                     gap: 30px;
                                                                                                                                                                                                       
                                                                                                                                                                                                       margin-top: 30px;
                                                                                                                                                                                                       }
                                                                                                                                                                                                       
                                                                                                                                                                                                       .grid-container > div {
                                                                                                                                                                                                         background-color: rgba(255, 255, 255, 0.8);
                                                                                                                                                                                                          
                                                                                                                                                                                                            
                                                                                                                                                                                                            }
                                                                                                                                                                                                            .bolu1 h1{
                                                                                                                                                                                                             font-family: 'Poppins';
                                                                                                                                                                                                             font-style: normal;
                                                                                                                                                                                                             font-weight: 700;
                                                                                                                                                                                                             margin-top: 50px;
                                                                                                                                                                                                             font-size: 24px;
                                                                                                                                                                                                             padding: 10px;
                                                                                                                                                                                                             line-height: 36px;
                                                                                                                                                                                                             color: #FFFFFF;
                                                                                                                                                                                                             }
                                                                                                                                                                                                             .bolu1 p{
                                                                                                                                                                                                                 font-family: 'Poppins';
                                                                                                                                                                                                                 font-style: normal;
                                                                                                                                                                                                                 font-weight: 400;
                                                                                                                                                                                                                 padding: 10px;
                                                                                                                                                                                                                 font-size: 17px;
                                                                                                                                                                                                                 line-height: 22px;
                                                                                                                                                                                                                 
                                                                                                                                                                                                                 color: #FFFFFF;
                                                                                                                                                                                                                 }
                                                                                                                                                                                                                 
                                                                                                                                                                                                                 
                                                                                                                                                                                                                 .bolu2 h1{
                                                                                                                                                                                                                 font-family: 'Poppins';
                                                                                                                                                                                                                 font-style: normal;
                                                                                                                                                                                                                 font-weight: 700;
                                                                                                                                                                                                                 font-size: 24px;
                                                                                                                                                                                                                 padding: 10px;
                                                                                                                                                                                                                 line-height: 36px;
                                                                                                                                                                                                                 color: #FFFFFF;
                                                                                                                                                                                                                 }
                                                                                                                                                                                                                 .bolu2 p{
                                                                                                                                                                                                                 font-family: 'Poppins';
                                                                                                                                                                                                                 font-style: normal;
                                                                                                                                                                                                                 font-weight: 400;
                                                                                                                                                                                                                 padding: 10px;
                                                                                                                                                                                                                 font-size: 17px;
                                                                                                                                                                                                                 line-height: 22px;
                                                                                                                                                                                                                 color: #FFFFFF;
                                                                                                                                                                                                                 }
                                                                                                                                                                                                                 .bolu3 h1{
                                                                                                                                                                                                                 font-family: 'Poppins';
                                                                                                                                                                                                                 font-style: normal;
                                                                                                                                                                                                                 font-weight: 700;
                                                                                                                                                                                                                 font-size: 24px;
                                                                                                                                                                                                                 padding: 10px;
                                                                                                                                                                                                                 line-height: 36px;
                                                                                                                                                                                                                 color: #FFFFFF;
                                                                                                                                                                                                                 }
                                                                                                                                                                                                                 .bolu3 p{
                                                                                                                                                                                                                 font-family: 'Poppins';
                                                                                                                                                                                                                 font-style: normal;
                                                                                                                                                                                                                 font-weight: 400;
                                                                                                                                                                                                                 padding: 10px;
                                                                                                                                                                                                                 font-size: 17px;
                                                                                                                                                                                                                 line-height: 22px;
                                                                                                                                                                                                                 color: #FFFFFF;
                                                                                                                                                                                                                 
                                                                                                                                                                                                                 }
                                                                                                                                                                                                                 
                                                                                                                                                                                                                 
                                                                                                                                                                                                                 .bolu1 {
                                                                                                                                                                                                                   grid-row: 1 /6 ;
                                                                                                                                                                                                                   }
                                                                                                                                                                                                                   .bolu1{
                                                                                                                                                                                                                       background-image: url(jpg/Podklyuchenie_bytovoj_tehniki_ley0jg-1024x768\ 1\ \(1\).png);
                                                                                                                                                                                                                       height: 345px;
                                                                                                                                                                                                                       }
                                                                                                                                                                                                                       .bolu2{
                                                                                                                                                                                                                           background-image: url(jpg/persian-carpet-6-1030x772\ 1\ \(1\).png);
                                                                                                                                                                                                                               background-repeat: no-repeat;
                                                                                                                                                                                                                               }
                                                                                                                                                                                                                               .bolu3{
                                                                                                                                                                                                                                   
                                                                                                                                                                                                                                       background-repeat: no-repeat;
                                                                                                                                                                                                                                           background-image: url(jpg/mdf_paneli_shlifovannye_img_8\ 1\ \(3\).png);
                                                                                                                                                                                                                                           }
                                                                                                                                                                                                                                           
                                                                                                                                                                                                                                           
                                                                                                                                                                                                                                           
                                                                                                                                                                                                                                           
                                                                                                                                                                                                                                           
                                                                                                                                                                                                                                           
                                                                                                                                                                                                                                           @media screen and (max-width: 458px) {
                                                                                                                                                                                                                                             .main img{
                                                                                                                                                                                                                                               display: none;
                                                                                                                                                                                                                                               
                                                                                                                                                                                                                                                 }
                                                                                                                                                                                                                                                   .bolingan{
                                                                                                                                                                                                                                                       display: none;
                                                                                                                                                                                                                                                         }
                                                                                                                                                                                                                                                           .writer h1{
                                                                                                                                                                                                                                                           font-family: 'Poppins';
                                                                                                                                                                                                                                                           font-style: normal;
                                                                                                                                                                                                                                                           font-weight: 600;
                                                                                                                                                                                                                                                           font-size: 18px;
                                                                                                                                                                                                                                                           line-height: 27px;
                                                                                                                                                                                                                                                           color: #FFFFFF;
                                                                                                                                                                                                                                                           }
                                                                                                                                                                                                                                                           .writer p{
                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                            font-family: 'Poppins';
                                                                                                                                                                                                                                                            font-style: normal;
                                                                                                                                                                                                                                                            font-weight: 300;
                                                                                                                                                                                                                                                            font-size: 13px;
                                                                                                                                                                                                                                                            line-height: 20px;
                                                                                                                                                                                                                                                            color: #FFFFFF;
                                                                                                                                                                                                                                                            }
                                                                                                                                                                                                                                                            .writer{
                                                                                                                                                                                                                                                            
                                                                                                                                                                                                                                                                border-left: 3px solid #ECF2F1;
                                                                                                                                                                                                                                                                    height: 90px;
                                                                                                                                                                                                                                                                        padding: -15px;
                                                                                                                                                                                                                                                                            padding-left: 20px;
                                                                                                                                                                                                                                                                                }
                                                                                                                                                                                                                                                                                .kichik{
                                                                                                                                                                                                                                                                                    padding-left: 1px;
                                                                                                                                                                                                                                                                                         padding-top: 70px;
                                                                                                                                                                                                                                                                                         }
                                                                                                                                                                                                                                                                                          .boxthreediv  {
                                                                                                                                                                                                                                                                                           background-image: url(jpg/Modern\(2\).png);
                                                                                                                                                                                                                                                                                            height: 270px;
                                                                                                                                                                                                                                                                                            }
                              

.box{
    justify-items: center;
    text-align: center;
    
width: 740px;
height: 450px;

margin-top: 40px;
border: 5px solid #745A4A 
}
.inner{
    justify-content: center;
}
.box p{
    margin-top: 40px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 63px;
color: #745A4A;
}
.box h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 54px;
line-height: 81px;
color: #745A4A;
}
.boxs h1{
    margin-top: 20px;
 font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 42px;
line-height: 63px;
color: #745A4A;
}
.shar{
 margin-top: 20px;
width: 34px;
height: 34px;
border-radius: 50%;
background: linear-gradient(180deg, #D4B29F 0%, #AF917E 100%);
}
.fourboxs{
    margin-top: 30px;
}
.row{
background: #ECF2F1;

}

.col h3{
    padding-top: 5px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 33px;
color: #745A4A;
}
.col p{
padding: 12px;    
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #745A4A;

}
.bor{
    border-right: 3px solid #745A4A;
}
.icon{
justify-content: center;
}
.col i{
    color: #745A4A;
    margin-left: 8px;
    margin-top:13px;
}
.round{
    margin-left: 35px;
    width: 76px;
height: 76px;
left: 82px;
margin-top: 50px;
border-radius: 50%;
background: linear-gradient(180deg, #D4B29F 0%, #AF917E 100%);
}

.rold{
    justify-content: space-between;
}
.rounds{
width: 50px;
height: 50px;
margin-right: 100px;
margin-top: 50px;
border-radius: 50%;
background: linear-gradient(180deg, #D4B29F 0%, #AF917E 100%);
}
.backg{
 position: relative;
  z-index: 1;   
width: 622px;
height: 411px;
background: #ECF2F1;
}
.dubleimg img{
     position: absolute;
  z-index: 2;
}
.duble h1{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 42px;
line-height: 63px;
color: #745A4A;
}
.duble p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #745A4A;
}

.tosh{
visibility: hidden;
}
.iconss{
    visibility: hidden;
}
.main7 img{
   display: none;
}

.korinma{
  visibility: hidden;
}
.top1 h6{
    display: none;
}
.rasmlidiv h1{
    
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 63px;
color: #745A4A;
}
.boxthreediv{
    background-image: url(jpg/Modern-Kitchen-Furniture-Design-Kitchen-Cabinets\ 1\ \(1\).png);
    height: 450px;
    margin-bottom: 40px;
}
.writer h1{

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
  
color: #FFFFFF;
}
.writer p{
   
height: 46px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400px;
font-size: 15px;
line-height: 22px;
color: #FFFFFF;
}

.writer{

    border-left: 3px solid #ECF2F1;
    height: 90px;
    padding: -15px;
    padding-left: 20px;
    }

.kichik{
    padding-left: 100px;
     padding-top: 170px;
}

.boxthreediv1{
  background-image: url(jpg/photo_2021-12-25_08-58-00\ 1.png);
    height: 450px;
}
.writer1 h1{

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
  
color: #FFFFFF;
}
.writer1 p{
   
height: 46px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 400px;
font-size: 15px;
line-height: 22px;
color: #FFFFFF;
}

.writer1{

    border-left: 3px solid #ECF2F1;
    height: 90px;
    padding: -15px;
    padding-left: 20px;
    }

.kichik1{
    padding-left: 100px;
     padding-top: 170px;
}



.grid-container {
  display: grid;
  grid-template-columns:   auto  auto ;
  gap: 30px;
  
margin-top: 30px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
 
  
}
.bolu1 h1{
 font-family: 'Poppins';
font-style: normal;
font-weight: 700;
margin-top: 50px;
font-size: 24px;
padding: 10px;
line-height: 36px;
color: #FFFFFF;
}
.bolu1 p{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
padding: 10px;
font-size: 17px;
line-height: 22px;

color: #FFFFFF;
}


.bolu2 h1{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
padding: 10px;
line-height: 36px;
color: #FFFFFF;
}
.bolu2 p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
padding: 10px;
font-size: 17px;
line-height: 22px;
color: #FFFFFF;
}
.bolu3 h1{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
padding: 10px;
line-height: 36px;
color: #FFFFFF;
}
.bolu3 p{
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
padding: 10px;
font-size: 17px;
line-height: 22px;
color: #FFFFFF;

}


.bolu1 {
  grid-row: 1 /6 ;
}
.bolu1{
    background-image: url(jpg/Podklyuchenie_bytovoj_tehniki_ley0jg-1024x768\ 1\ \(1\).png);
height: 345px;
}
.bolu2{
    background-image: url(jpg/persian-carpet-6-1030x772\ 1\ \(1\).png);
    background-repeat: no-repeat;
}
.bolu3{
    
    background-repeat: no-repeat;
    background-image: url(jpg/mdf_paneli_shlifovannye_img_8\ 1\ \(3\).png);
}






@media screen and (max-width: 458px)

{
  .main img{
  display: none;

  }
  .bolingan{
    display: none;
  }
  .writer h1{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #FFFFFF;
}
.writer p{
 
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 20px;
color: #FFFFFF;
}
.writer{

    border-left: 3px solid #ECF2F1;
    height: 90px;
    padding: -15px;
    padding-left: 20px;
    }
.kichik{
    padding-left: 1px;
     padding-top: 70px;
}
 .boxthreediv  {
 background-image: url(jpg/Modern\(2\).png);
 height: 270px;
}
  .rasmlidiv h1{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;
color: #745A4A;
  }


  .main h1{
    margin-left: 1px;
    margin-top: -17px;
    width: 340px;
    text-align: center;
display: block;
 font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 50px;
color: #745A4A;

  }
  .boxthreediv1{
 display: none;
  }
  .kotta{
   visibility: visible;
   height: 270px;
    background-image: url(jpg/photo_2021-12-25_08-58-00\ 1\ \(1\).png);
  }
  .mebel1{
    margin-top: 20px;
       height: 270px;
    background-image: url(jpg/Podklyuchenie_bytovoj_tehniki_ley0jg-1024x768\ 1.png);
  }
  .mebel2{
    margin-top: 20px;
       height: 260px;
    background-image: url(jpg/persian-carpet-6-1030x772\ 1.png);
  }
   .mebel3{
    margin-top: 20px;
       height: 270px;
    background-image: url(jpg/mdf_paneli_shlifovannye_img_8\ 1.png);
  }
  .main h2{
    margin-left: -30px;
    display: block;
    width: 424px;
height: 100px;
text-align: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 50px;
color: #745A4A;
  }

  .round1{
display: none;
  }
  .round3{
 z-index: -1;
width: 40px;
height: 42px;
margin-top: -32px;
margin-left: 22px;
border-radius: 50%;
background: linear-gradient(180deg, #D4B29F 0%, #AF917E 100%);
  }
  .navbar{
    margin-top: 4px;
  }
  .korinma{
  visibility: visible;
  margin-top: 30px;
  font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 33px;
color: #745A4A;
}
  .raund4{
    width: 100px;
height: 100px;
left: 298.64px;
margin-top: -25px;
margin-left: 254px;
border-radius: 70%;
background: #E4CDC2;
z-index: -1;
  }
  .round2{
    display: none;
  }
.topcha{
    visibility: hidden;
}
  .main2 span{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 33px;
line-height: 56px;
text-align: center;
color: #F26712;
border: none;
}
.yashirin{
    background-color: white;
}
.yashirin li{
text-align: center;
}
.telegram {
    display: none;
}
.telegrams{
  visibility: hidden;
}
.faq{
       display: none;
}
.tosh{
    visibility: visible;
justify-content: center;
}
.top1{
    font-size: 13px;
}
.iconss {
    width: 200px;
  color: #D9BBAB;
    justify-content:space-around;
    font-size: 30px;
    margin-left: 80px;
    visibility: visible;
}



.main7 img{
   display: block;
   width: 350px;
height: 241px;
margin: -300px;
margin-bottom: 80px;
margin-left: 20px;
}
.box p{
    font-size: 20px;
       line-height: normal;
}
.box h1{
    font-size: 20px;
    line-height: normal;
}
.box{
    height: 270px;
}
.boxs h1{
    font-size: 27px;
}
.bor{

    border: hidden;
    text-align: center;
}
.row{
    
  padding: 50px;
}
.shar{
visibility: hidden;
}
.plus{
    flex-wrap: wrap-reverse;
    margin-top: 40px;
}
.duble h1{
display: none;
}

.duble p{
    width: 350px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 130%;
color: #745A4A;
}
.dubleimg img{
    width: 340px;
}
.backg{
   width: 350px; 
   height: 240px;
}
.rold{
    display: none;
}
.round{
    display: none;
}
.rounds{
    display: none;
}
.top1 h6{
    display: block;
    font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 120%;
color: #745A4A;
margin-top: 16px;
}
.top1 p{
    display: none;
}

.cont-1 {
    display: flex;
    width: 93%;
    justify-content: center;
margin-top: -55px;

  }
  .cont-1 iframe {
    width: 100%;
    height: 600px;
  }
  .cont-2{
   padding-top: -20px;
width: 90%;
   margin-left: -771px;

  }
  .cont-1 iframe  {
    margin-top: 700px;
      color: #4c3b2f;
    font-family: "Poppins", sans-serif;
    height: 500px;
    width: 100%;
    background: white;
    border-radius: 5px;
  }
  .phone_1{
    margin-left: -773px;
    margin-top: -55px;
  }

  .cont-3{
    margin-top: 590px;
  }
  
  .dropdown-menu{
    width: 90%;
   
  }
}
}
